body {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  text-align: center;
  margin: auto;
  width: 50%;
  padding: 10px;
  position: absolute;
  top: 10%;
  width: 100%;
  text-align: center;
  font-size: 18px;
  background: #ACF580;
  color: white;
  font-size: 25spx;
}
